<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
   
	 <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
<!--         <property name="host" value="${email.host}" />
        <property name="username" value="${email.username}" />
        <property name="password" value="${email.password}" /> -->
<!--         <property name="host" value="smtp.qq.com" />
        <property name="username" value="468084221@qq.com" />
        <property name="password" value="hdjrwfxfydzxcaaf" /> -->
        <property name="host" value="smtp.sina.com" />
        <property name="username" value="changyanjx2@sina.com" />
        <property name="password" value="ndj123654987" />
        <property name="defaultEncoding" value="UTF-8" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">25000</prop>
                <prop key="mail.smtp.port">25</prop>
                <prop key="mail.smtp.socketFactory.port">25</prop>
                <prop key="mail.smtp.socketFactory.fallback">false</prop>
<!--                 <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
 -->            </props>
        </property>
    </bean>
</beans>